# API Key do Google Gemini
GOOGLE_API_KEY=coloque_sua_chave_aqui

# Modelos
GENERATION_MODEL=gemini-2.5-flash-lite
EMBEDDING_MODEL=models/embedding-001

# Configurações RAG
CHUNK_SIZE=800
CHUNK_OVERLAP=100
TOP_K=4
